.apartament-description {
    .apartment-text-description {

        display: flex;
        column-gap: 20px;
        justify-content: center;
        align-items: center;

        .description-title {
            display: flex;
            flex-direction: column;
            align-items: center;

            .description-info {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                width: 100px;
                border: 2px solid black;
                border-radius: 50%;
            }
        }

    }

    .carousel {
        height: 400px;

        .carousel-inner {
            .carousel-item {
                img {
                    height: 400px;
                    object-fit: cover;
                }
            }

        }
    }
}