* {
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    color: $primary-text-color;
}

h1, h2, h3, h4, h5, h6{
    font-family: $title-font;
}

p {
    font-size: 14px;
}

.container {
    max-width: $small-container;
    width: $small-container;
    padding: 30px 50px;
    margin: 0 auto;
    text-align: center;
}

.title-font {
    font-family: $title-font;
    font-weight: 400;
    font-style: normal;
  }





@media all and (min-width: $large){
.container{
    max-width: $large-container;
}
}

@media all and (min-width: $extra-large){
    .container{
        max-width: $extra-large-container;
    }
}
