/* Fonts */

$primary-font: "Golos Text", sans-serif;
$title-font: "Syncopate", sans-serif;

/* Colors */

$primary-color: #eeedec;
$secondary-color: #B6AA9C;
$secondary-color-lighter: #efe1d2;

$button-color: #30383b;

$primary-text-color: #1D1512;
$secondary-text-color: #555;

/* Container */

$small-container: 100%;
$large-container: 960px;
$extra-large-container: 1140px;


/* Mobile breakpoints */

$extra-small: 480px;
$small: 576px;
$medium: 768px;
$large: 960px;
$extra-large: 1200px;